.footer {
  .flex(column, center, center);

  width: 100%;
  background: transparent;
  z-index: 0;

  &.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .wrap {
    position: relative;
    padding: clamp(unit(1, rem), calc(unit(1, rem) + (3 - 1) * var(--calcWidth)), unit(3, rem));
  }

  .credits {
    color: var(--white);
    font-size: .825rem;
    font-weight: var(--fontWeightRegular);
    text-transform: none;

    span {
      margin-left: .25rem;
      padding-left: .25rem;
      border-left: 1px solid var(--white);
    }

    img {
      margin-left: .25rem;
      height: 1rem;
      transform: translateY(-.25rem);
    }
  }
}
